body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
#main-div{
    background:white;
    display:flex;
    
}

.div1{
    
}
span{
    color:blue;
    font-weight:bolder;
    
}
a:hover{
    color:recd;
    text-decoration: none;
}
iframe{
    width: 900px;
    background:yellow
}
.we-div{
    /* background:blue; */
    width:600px;
    top:180px;
    position:relative;
}
.we-div1{
    padding-left:30px;
    color:red
}
p{
    display:inline-block;
    text-align: center;
    width:600px;
    color:red;
}